<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="登陆">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <div class="sub-header">登录应用</div>

            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="用户名" ng-model="loginForm.username">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input class="user-password" type="password" placeholder="密码" ng-model="loginForm.password">
                </md-input-container>
            </div>
            <div>
                <a class="md-raised social-button md-button md-default-theme material-background" ng-click="login()">
                    登录
                </a>
            </div>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>