<ion-view class="maps-view" title="Maps">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar-->

    <ion-content scroll="false">
        <div class="mapWrap"  data-tap-disabled="true">
            <div class="row center-map-action">
                <div class="col">
                    <div class="list">
                        <div class="item item-input-inset">
                            <a class="button button-icon icon ion-pinpoint" ng-click="centerOnMe()"></a>
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="My Location" disabled ng-model="my_location">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <map center="{{center_position.lat}},{{center_position.lng}}" zoom="15">
                <info-window id="1" position="{{info_position.lat}},{{info_position.lng}}" visible="true">
                    <div ng-non-bindable="">
                        <a>亚历山大拱桥</a>
                    </div>
                </info-window>
            </map>
        </div>
    </ion-content>
</ion-view>
