.maps-view {
  background-color: #EAEAEA !important; }
  .maps-view
.center-map-action {
    position: absolute;
    top: 35px;
    z-index: 9; }
    .maps-view
.center-map-action
.item.item-input-inset {
      padding: 0px 5px; }
    .maps-view
.center-map-action
.item-input-wrapper {
      background: none; }
  .maps-view
map {
    width: 100%;
    height: 100% !important; }
  .maps-view .scroll, .maps-view
.mapWrap {
    height: 100%; }
